body {
    font-family: FLATICON;
    background-color: #f3a25f;
    margin-left: 1px;
    margin-top: 1px;
    margin-right: 1px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 480px;
    width: 1280px;

}


h1:hover {
    width: 200px;
    height: 200px;
    font-size: 400;
    font-family: joker;
    color:#0e7555;
    
}
